*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-size: 16px;
    font-family: "Roboto Condensed","HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
    background-color: white;
    text-decoration: none;
    height: 100%;
    color: black;
    padding-top: 50px;
}
p, h1, h2, h3, h4, h5, h6, a{
    font-weight: bold;
}
i{
    font-weight: normal;
}

.header img{
    width: 50px;
}

.header{
    -webkit-box-shadow:  0px 2px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:  0px 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow:  0px 2px 2px 1px rgba(0,0,0,0.2);
    min-height: 50px;
}

.navbar-inverse .navbar-nav>li>a{
    color: #f9d334;
    height: 100%;
    padding-right: 50px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #f9d334;
    cursor: pointer;
    color: #333;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

/*Achar uma maneira de mudar a cor dependendo de onde o scroll estiver!*/
.navbar-inverse .navbar-nav>li>a:focus{
    background-color: #f9d334;
    color: #333;
}

.navbar-inverse .navbar-text {
    color: #f9d334;
    font-size: 18px;
}

.title{
    background-color: #f9d334;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #191919;
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/minibg.png");
    background-position: 100% 10%;
    background-repeat: no-repeat;
    color: #191919;
    margin-bottom: 1em;
    align-content: center;
}

.centerbox{
    display: flex;
    justify-content: center;
}

.centerbox .title{
    max-width: 350px;
}

.main{
    height: 100%;
    background-image: url("images/bannerbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 20px 0;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #191919;
}

.main img{
    max-width: 100%;
    height: 40vh;
    padding-top: 20px;
}

.bloco{
    height: 100%;
    background-color: #222268;
    padding: 40px 0;
    border-style: solid;
    border-width: 5px;
    border-color: #191919;
    background-image: url("images/bg\(1\).png"), url("images/bg\(2\).png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-y: 100%, 0;
    background-position-x: 0, 100%;
    margin-bottom: 10px;
    color: #dcdcdc;
    font-size: 18px;
}

.bloco img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,1);
}

.eixos{
    background-color: white;
    color: black;
}

.icones{
    font-size: 50px;
    padding-top: 20px;
    color: #f9d334;
}

.icones .col-xs-4{
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding-top:20px;
    word-break:break-all;
     /* Fallback for web browsers that don't support RGBa */
     background-color: rgb(0, 0, 0);
     /* RGBa with 0.6 opacity */
     background-color: rgba(0, 0, 0, 0.8);
     /* For IE 5.5 - 7*/
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
     /* For IE 8*/
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"
}

.icones .col-xs-4 p{
    font-size: 18px;
}
.area3{
    background-color: white;
    padding: 30px 0;
    color: black;
}

.area3 p{
    font-size: 24px;
}

.texto{
    color: #dcdcdc;
    text-align: justify
}

.home:hover{
    cursor: pointer;
}

/*Código velho!*/
a:link{
    text-decoration: none;
    cursor: pointer;
}

.footer{
    background-color: #333;
    height: 100%;
    padding: 20px;
    border-style: solid;
    border-width: 5px 0 0 0;
    border-color: #f9d334;
    text-align: left;
    color: #f9d334;
}

.botao{
    width: 9em;
    height: 120px;
    font-size: 2rem;
    margin: 20px;
    background-color: #1d1d59;
    color: #dcdcdc;
    border-color: #dcdcdc;
    border-width: 2px;
}

.botao2{
    width: 80%;
    height: 120px;
    font-size: 2rem;
    margin: 20px;
    background-color: #333;
    color: #dcdcdc;
    border-color: #dcdcdc;
    border-width: 2px;
}

.botao2:hover{
    color: #333;
    background-color: #f9d334;
    border-color: #6b5f2c;
    border-width: 2px;
    -webkit-transition: background-color 0.25s; /* Safari */
    transition: background-color 0.25s;
}

.botao:hover{
    color: #f9d334;
    background-color: #222268;
    border-color: #6b5f2c;
    border-width: 2px;
    -webkit-transition: background-color 0.25s; /* Safari */
    transition: background-color 0.25s;
}

.botao:focus{
    color: #f9d334;
    background-color: #222268;
    border-color: #f9d334;
    border-width: 2px;
}

#img-row{
    height: 100px;
    margin-bottom: 20px;
}

#row-botao{
    padding: 30px 0;
}

.redes{
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color:#f9d334;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
}

#fb:hover{
    color: #3b5998;
}

#twitter:hover{
   color: #00aced;
}

#insta:hover{
    color: #cd486b;
}

#yt:hover{
    color: #FF0000;
}